.footer-content {
    max-width: 1100px;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    max-width: 300px;
}

.footer-col h4 {
    color: #FAFAFA;
    margin-bottom: 1rem;
    font-family: 'Monserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-top: 2rem;
}

.footer-col p {
    color: #FAFAFA;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.95rem;
    line-height: 1.5;
}

.footer-col a,
.footer-bottom {
    color: #FAFAFA;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 0.95rem;
    line-height: 1.5;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    margin-bottom: 0.5rem;
}

.footer-col a {
    text-decoration: none;
    color: #D5AA32;
    transition: 0.2s ease;
}

.footer-col a:hover {
    color: #7c6f49;
}

.footer-bottom {
    opacity: 0.75;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.footer {
    background-color: #1A2952;
    padding: 3rem 1rem 1rem;
    text-align: center;
    color: #FAFAFA;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
}

.footer-logo {
    height: 150px;
    width: auto;
    object-fit: contain;
    margin-left: 4.5rem;
}

.footer-brand {
    display: flex;
    gap: 0.70rem;
    margin-bottom: 0.15rem;
}

.footer-col .icon {
    font-size: 20px;
    line-height: 3.5;
    display: flex;
    text-align: left;
    color: #D5AA32;
    margin-bottom: -45px;
    margin-top: -25px;
    margin-left: -0.9rem;
}